@media screen and (min-width: 1000px) {
    * {
        font-family: 'Lato', sans-serif;
        scroll-behavior: smooth;
    }
    /*------------------------- BODY GRID ----------------------------- */
    .body {
        display: grid;
        grid-template-areas: 'header header'
                             'section aside'
                             'footer footer';
    }

    .header {
        grid-area: header;
    }

    .section {
        grid-area: section;
    }

    .aside {
        grid-area: aside;
    }

    .footer {
        grid-area: footer;
    }
    /*------------------------- HEADER ----------------------------- */
    .header {
        width: 100%;
        height: 6vw;
        padding: 0vw 2vw;
        box-shadow: 0.1vw 0.1vw 0.1vw;
    }

    .header-img {
        margin-top: 1.3vw;
        position: relative;
        left: 2vw;
        top: 0vw;
        width: 15vw;
        height: 3.5vw;
    }

    .header-h1 {
        display: inline-block;
        margin-left: 2vw;
        position: relative;
        top: -1vw;
    }

    .header-nav {
        display: flex;
        float: right;
        margin: 2.5vw 2vw 0vw 0vw;

    }

    .header-ul {
        display: inline-block;
    }

    .header-ul li {
        display:inline-block;
        padding: 0vw 2vw;
        font-weight: 700;
    }

    .links-nav {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    /*------------------------- SECTION ----------------------------- */

    .section {
        margin-top: 3vw;
        background-image: url(pictures/SANDIK-2.png);
        background-size: 22vw auto;
        background-repeat: no-repeat;
        background-position-x: 56vw;
        background-position-y: 1vw;
        height: 100%;
        width: 100%;
    }

    /*------------------------- ARTICLE1 ----------------------------- */

    .article1 {
        width: 40%;
        font-size: 1.8vw;
        margin-top: 12vw;
        text-align: center;
        margin-left: 7vw;
        margin-bottom: 15vw;
    }

    /*------------------------- ARTICLE2 ----------------------------- */

    .article2 {
        width: 100%;
        height: 35vw;
    }

    .article2-h2 {
        text-align: center;
        font-size: 3vw;
        padding: 10vw 0vw 3vw 0vw;
    }

    .article2-galeria {
        display: flex;
        width: 60%;
        height: 36vw;
        margin: auto;
        justify-content:space-between;
        align-content: space-between;
        flex-wrap: wrap;

    }

    .article2-galeria img {
        width: 16vw;
        border-radius: 1vw;
    }

    /*------------------------- ARTICLE3 ----------------------------- */

    .article3 {
        width: 100%;
        height: 61vw;
        padding: 16vw 0vw
    }

    .article3-h3 {
        font-size: 2.5vw;
        text-align: center;
        padding: 5vw 0vw 2vw 0vw;
    }

    .caja-video {
        text-align: center;
    }

    .article3-video {
        width: 60vw;
        border-radius: 1vw;
    }

    /*------------------------- ASIDE ----------------------------- */

    .aside {
        padding: 1vw;
        position: absolute;
        margin-top: 15vw;
        height: 17vw;
        right: 3vw;
    }

    .aside-h4 {
        font-size: 1.5vw;
    }

    .aside-ul {
        list-style: none;
        text-align: center;
        margin-top: 3vw;
    }

    .aside-ul li {
        margin: 1vw 0vw;
    }

    /*------------------------- FOOTER ----------------------------- */
    .footer {
        height: 3vw;
        color: rgba(0, 0, 0, 0.719);
    }

    .footer-barra {
        width: 60%;
        height: 100%;
        border-top: 0.1vw solid rgba(0, 0, 0, 0.452);
        margin: auto;
    }

    .footer-ul {
        margin-top: 1vw;
        list-style: none;
        text-align: center;
        font-size: 1vw;
    }

    .footer-ul li {
        display: inline-block;
        padding: 0vw 3vw;
    }

    .links {
        color: rgba(0, 0, 0, 0.719);
        font-weight: 600;
        text-decoration: none;
    }

    .links:visited {
        color: rgba(0, 0, 0, 0.719);
    }
}